<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="addorder" method="post">
    <input name="name" type="text">寄件人姓名<br>
    <input name="telephone" type="text">寄件人联系方式<br>
    <input name="receiveaddress" type="text">寄件人地址<br>
    <input name="sname" type="text">收件人姓名<br>
    <input name="stelephone" type="text">收件人联系方式<br>
    <input name="sendaddress" type="text">收件人地址<br>
    <input name="weight" type="text">重量<br>
    <input type="submit" value="提交">
</form>
</body>
</html>