
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            content="路路通快递官网为您提供路路通快递单号(运单)跟踪查询,投诉电话查询,运费报价查询,路路通营业网点查询,在线下单(寄件)等服务,全国统一客服热线：95311"
            name="Description"
    />
    <meta content="路路通快递单号查询,网点查询,投诉电话查询,在线寄件" name="Keywords" />
    <meta
            content="路路通快递官网为您提供路路通快递单号(运单)跟踪查询,投诉电话查询,运费报价查询,路路通营业网点查询,在线下单(寄件)等服务,全国统一客服热线：95311"
            name="searchtitle"
    />

    <title>查件 - 路路通快递</title>
    <link rel="stylesheet" type="text/css" href="./css/expressCheck.css?v=c66d583e3b" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo.ico" media="screen" />
    <script type="text/javascript" src="./js/vuejs-2.5.16.js"></script>
    <script type="text/javascript" src="./js/axios-0.18.0.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4IU3oIAMpZhfWZsMu7xzqBBAf6vMHcoa"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <![endif]-->
    <style type="text/css">
        body, html {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
        #allmap{height:100%;width:100%;}
        #r-result table{width:100%;}
        /*背景层*/
        #popLayer {
            display: none;
            background-color: #B3B3B3;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
        }
        /*弹出层*/
        #popBox {
            display: none;
            background-color: #FFFFFF;
            z-index: 11;
            width: 400px;
            height: 400px;
            position:fixed;
            top:0;
            right:0;
            left:0;
            bottom:0;
            margin:auto;
        }
        #popBox .close{
            text-align: right;
            margin-right: 5px;
            background-color: #F8F8F8;
        }
        /*关闭按钮*/
        #popBox .close a {
            text-decoration: none;
            color: #2D2C3B;
        }
    </style>
</head>

<body>
<div id="header">
    <div class="header-main">
        <div class="header-left">
            <div class="logo-box" style="width: 172px;height: 31px">
            </div>

        </div>
        <div class="header-middle">
            <ul>
                <li><span
                        class="js-home-page" >首页</span></li>
                <li class="business">
                    <span >物流业务</span>
                    <div class="business-menu clearboth international-add-new">
                        <div class="menu-box box-1">
                            <span class="menu-title">国内业务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <em>时效件</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-morrow">次日达</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-onAlternateDays">隔日达</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-triduum">三日达</a>
                                </div>
                                <div class="menu_list">
                                    <em>增值业务</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-theDoorToTake">上门取件</a>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-generationOfPickup">代取件</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-freshDelivery">优鲜送</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-payOnDelivery">代收货款</a>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-freightCollectExpressItem">到付件</a>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-signTheBillToReturn">签单返还</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-supportValue">保价</a>

                                </div>
                                <div class="menu_list">
                                    <em>数字产品</em>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-electronicsSurfaceSingle">电子面单</a>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-privacySurfaceSingle">隐私面单</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-cloudPrint">云打印</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-enterpriseOrder">企业下单
                                        <!-- <i>hot</i> -->
                                    </a>
                                    <a href="javascript:void(0)" class="menu-item js-business-recheneinheit">统一结算
                                        <!-- <i>hot</i> -->
                                    </a>
                                    <a href="javascript:void(0)" class="menu-item js-zop" target="_blank"
                                            id="nav_zop">开放平台</a>
                                    <a href="javascript:void(0)" class="menu-item js-zpa" target="_blank"
                                            id="nav_zpa">快递管家</a>

                                </div>
                                <div class="menu_list">
                                    <em>售后宝</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-afterSalesService">售后宝</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-2">
                            <span class="menu-title">国际&台港澳业务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <em>港台件</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-hongkong">香港专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-taiwan">台湾专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-hongkongDhl">香港DHL</a>
                                </div>
                                <div class="menu_list">
                                    <em>国际件</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-ztoEms">路路通-EMS</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-international">国际e通宝</a>
                                    <!--<a href="javascript:void(0)" class="menu-item js-business-australia">新澳宝</a>-->
                                    <a href="javascript:void(0)" class="menu-item js-business-england">中英专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-russian">俄罗斯专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-korea">韩国专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-japan">日本专线</a>
                                    <!--<a href="javascript:void(0)" class="menu-item js-business-india">印度专线</a>-->
                                    <a href="javascript:void(0)" class="menu-item js-business-americaSmall">美洲专线小包</a>
                                    <!--
                                    <a href="javascript:void(0)" class="menu-item js-business-switzerlandOne">瑞邮宝</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-switzerlandTwo">瑞邮派</a>
                                     -->
                                </div>
                                <div class="menu_list menu_list_fba">
                                    <em>&nbsp;&nbsp;</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-russia">FBA空运包税</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-americaFba">FBA-美洲专线</a>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-australiaFba">FBA-澳大利亚专线</a>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-canadaFba">FBA-加拿大专线(普货)</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-europeFba">FBA-欧洲专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-ctamSmall">CTAM小包</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-depx">Toll Global
                                        Express(DPEX)</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-3">
                            <span class="menu-title">仓储业务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <em>仓储业务</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-cloudChamber">关于云仓</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-serviceProducts">产品服务</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-serviceScope">服务范围</a>
                                    <a href="javascript:void(0)"
                                            class="menu-item js-business-cooperativePartner">合作伙伴</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-4">
                            <span class="menu-title">冷链业务</span>
                        </div>
                    </div>
                </li>
                <li>
                    <span  class="active-nav" >客户服务</span>
                    <div class="business-menu clearboth">

                        <div class="menu-box box-12">
                            <span class="menu-title">查询服务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list long_one">
                                    <a href="javascript:void(0)" class="menu-item js-express-check">查件（物流追踪）</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-website">服务网点查询</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-price">运费时效查询</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-prohibited">违禁品查询</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-13">
                            <span class="menu-title">客户支持</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list long_one">
                                    <!--<a href="javascript:void(0)" class="menu-item js-express-complain">客户投诉电话</a>-->
                                    <a href="javascript:void(0)" class="menu-item js-express-questions">常见问题</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-suggest">投诉建议</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span >加盟合作</span>
                    <div class="business-menu clearboth">
                        <div class="menu-box box-6">
                            <span class="menu-title">加盟合作</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <a href="javascript:void(0)" class="menu-item js-express-outlets">加盟快递网点</a>
                                    <a href="javascript:void(0)" class="menu-item js-cooperate">商家合作</a>
                                    <a href="javascript:void(0)" class="menu-item js-supplier">供应商合作</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><span
                        class="js-finance" >金融</span></li>
                <li>
                    <span  class="js-goHr">招聘</span>

                </li>
                <li>
                    <span >关于路路通</span>
                    <div class="business-menu clearboth">
                        <div class="menu-box box-7">
                            <span class="menu-title">关于路路通</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list long_one">
                                    <em>企业介绍</em>
                                    <a href="javascript:void(0)" class="menu-item js-company-profile">企业概述</a>
                                    <a href="javascript:void(0)" class="menu-item js-corporate-development">路路通大事记</a>
                                    <a href="javascript:void(0)" class="menu-item js-leadership-concern">领导关怀</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>企业文化</em>
                                    <a href="javascript:void(0)" class="menu-item js-corporate-culture">文化理念</a>
                                    <a href="javascript:void(0)" class="menu-item js-one-day">路路通人的一天</a>
                                    <a href="javascript:void(0)" class="menu-item js-innovation">双创路路通人</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>企业展示</em>
                                    <a href="javascript:void(0)" class="menu-item js-enterprise-video">企业视频</a>
                                    <a href="javascript:void(0)" class="menu-item js-responsibility-honor">责任荣誉</a>
                                    <a href="javascript:void(0)" class="menu-item js-charity">路路通公益</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>新闻动态</em>
                                    <a href="javascript:void(0)" class="menu-item js-new-list">公司动态</a>
                                    <a href="javascript:void(0)" class="menu-item js-industry-new">行业新闻</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>联系我们</em>
                                    <a href="javascript:void(0)" class="nav-item js-contact-us">联系我们</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span >INVESTORS</span>
                    <div class="business-menu clearboth">
                        <div class="menu-box box-14">
                            <span class="menu-title">INVESTORS</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <a href="javascript:void(0)" class="menu-item js-investor-news">投资者关系</a>
                                </div>
                            </div>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <a href="http://zto.investorroom.com/" class="menu-item" target="_blank">Investor
                                        Relations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-right">

            <div class="registere">
                <img src="./images/register.png" alt="登录"> 登录
            </div>

            <div class="intl">
                <a href="login-nose.html" target="_blank" title="Switch to intl ">intl</a>
            </div>
        </div>
    </div>
</div>

<!-- 我就是一个分隔符 -->
<div id="js-header-wrap" class="header-wrap">
    <div id="content">
        <div class="link">
            <ul>
                <li id="btn_customerService">
                    <a href="javascript:;" target="_blank" id="contactUs" class="line-server">
                        <div class="line-server-bgimg"></div>
                        <p class="link-font">
                            在线客服
                        </p>
                    </a>
                </li>
                <li id="btn_complaintsSuggestions">
                    <a href="https://my.zto.com/feedback"  class="complaint-suggestion js-express-suggest">
                        <div class="complaint-suggestion-bgimg"></div>
                        <p class="link-font">
                            投诉建议
                        </p>
                    </a>
                </li>
                <li class="js-back-top">
                    <a href="javaScript:void(0)" class="back-top">
                        <div class="back-top-bgimg"></div>
                        <p class="link-font">
                            返回顶部
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="banner">
    <div class="banner_box">
        <img src="./images/express_banner.jpg" />
    </div>
</div>
<div id="content">
    <div class="content-main">
        <div class="nav-zto js-nav-fixed">
            <div class="nav-zto-bgimg"></div>
            <div class="nav-zto-room">
                <h1>客户服务</h1>
                <ul>
                    <li>
                        <div class="nav-zto-font checked">
                            <a href="addOrder.html" ><span class="nav-item js-express-ship">寄件服务<i></i></span></a>
                        </div>
                    </li>
                    <li>
                        <div class="nav-zto-font show">
                  <span class="nav-item">查询服务
                    <i></i>
                  </span>
                            <div class="nav-zto-menu">
                                <a href="nose.html"><span class="menu-item">查件（物流追踪）</span></a>
                                <a href="baidumap6.html"><span class="menu-item js-express-website">服务网点查询</span></a>
                                <span class="menu-item js-express-price">运费时效查询</span>
                                <span class="menu-item js-express-prohibited">违禁品查询</span>

                                </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-zto-font">
                  <span class="nav-item"
                  >客服支持
                    <i></i>
                  </span>
                            <div class="nav-zto-menu">
                                <!--<span class="menu-item js-express-complain">客户投诉电话</span>-->
                                <span class="menu-item js-express-questions">常见问题</span>
                                <span class="menu-item js-express-suggest">投诉建议</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <i class="jag"></i>
            </div>
        </div>
        <div class="express-cont">
            <html>

            <head>
                <meta charset="UTF-8">
                <title>欢迎页面-X-admin2.0</title>
                <meta name="renderer" content="webkit">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <meta name="viewport" content="width=device-width,users-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
                <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
                <link rel="stylesheet" href="./css/font.css">
                <link rel="stylesheet" href="./css/xadmin.css">
                <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
                <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
                <script type="text/javascript" src="./js/xadmin.js"></script>
                <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
                <!--[if lt IE 9]>
                <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
                <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->
            </head>

            <body>
            <div class="x-body">
                <form class="layui-form">
                    <!--寄件人用户名-->
                    <div class="layui-form-item">
                        <label for="username1" class="layui-form-label">
                            <span class="x-red">*</span>用户名
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="username1" name="name" required="" lay-verify="required"
                                    autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--寄件人电话号码-->
                    <div class="layui-form-item">
                        <label for="telephone" class="layui-form-label">
                            <span class="x-red">*</span>发货人电话
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="telephone" name="telephone" required="" lay-verify="phone"
                                    autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!--寄件人地址-->
                    <div class="layui-form-item">
                        <label for="receiveaddress" class="layui-form-label">
                            <span class="x-red">*</span>寄件人地址
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="receiveaddress" name="receiveaddress" required="" lay-verify="required"
                                    autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!--收获人名字-->
                    <div class="layui-form-item">
                        <label for="sname" class="layui-form-label">
                            <span class="x-red">*</span>收货人
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="sname" name="sname" required="" lay-verify="required"
                                    autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--收件人电话号码-->
                    <div class="layui-form-item">
                        <label for="stelephone" class="layui-form-label">
                            <span class="x-red">*</span>寄件人电话
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="stelephone" name="stelephone" required="" lay-verify="phone"
                                    autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--收件人地址-->
                    <div class="layui-form-item">
                        <label for="sendaddress" class="layui-form-label">
                            <span class="x-red">*</span>收货人地址
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="sendaddress" name="sendaddress" required="" lay-verify="required"
                                    autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--货物重量-->
                    <div class="layui-form-item">
                        <label for="weight" class="layui-form-label">
                            <span class="x-red">*</span>重量
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="weight" name="weight" required="" lay-verify="required"
                                    autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--提交-->
                    <div class="layui-form-item">
                        <label for="tijiao" class="layui-form-label">
                        </label>
                        <button  id="tijiao" class="layui-btn" lay-filter="add" lay-submit="addorder">
                            提交
                        </button>
                    </div>
                </form>
            </div>
            <script>
                layui.use(['form','layer'], function(){
                    $ = layui.jquery;
                    var form = layui.form
                        ,layer = layui.layer;


                    //监听提交
                    form.on('submit(add)', function(data){
                        console.log(data);
                        //发异步，把数据提交给php
                        $.ajax({
                            data:data.field,
                            dataType:"json",
                            url:"/addOrder",
                            type:"post",
                            success:function () {
                                alert(123)
                            }
                        });
                        layer.alert("增加成功", {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.location.href="nose.html"
                        });
                        return false;
                    });


                });
            </script>
            <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
            </body>

            </html>
        </div>
    </div>
</div>

<script src="./js/bundle.js"></script>
<script src="./js/jquery.validate.min.js"></script>
<script src="./js/public.js"></script>
<script src="./js/expressCheck.js"></script>
<script src="./js/JsBarcode.js"></script>


</body>
</html>
