
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            content="中通快递官网为您提供中通快递单号(运单)跟踪查询,投诉电话查询,运费报价查询,中通营业网点查询,在线下单(寄件)等服务,全国统一客服热线：95311"
            name="Description"
    />
    <meta content="中通快递单号查询,网点查询,投诉电话查询,在线寄件" name="Keywords" />
    <meta
            content="中通快递官网为您提供中通快递单号(运单)跟踪查询,投诉电话查询,运费报价查询,中通营业网点查询,在线下单(寄件)等服务,全国统一客服热线：95311"
            name="searchtitle"
    />
    <!--    <script>-->
    <!--      var _hmt = _hmt || []-->
    <!--      ;(function() {-->
    <!--        var hm = document.createElement('script')-->
    <!--        hm.src = 'https://hm.baidu.com/hm.js?53a93979e64ab8e76c06653f6830c385'-->
    <!--        var s = document.getElementsByTagName('script')[0]-->
    <!--        s.parentNode.insertBefore(hm, s)-->
    <!--      })()-->
    <!--    </script>-->
    <title>查件 - 中通快递</title>
    <link rel="stylesheet" type="text/css" href="./css/expressCheck.css?v=c66d583e3b" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo.ico" media="screen" />
    <script type="text/javascript" src="./js/vuejs-2.5.16.js"></script>
    <script type="text/javascript" src="./js/axios-0.18.0.js"></script>
</head>

<body>
<div id="header">
    <div class="header-main">
        <div class="header-left">
            <div class="logo-box">
                <img src="./images/logo.png" alt="logo" class="logo">
            </div>

        </div>
        <div class="header-middle">
            <ul>
                <li><span
                        class="js-home-page" >首页</span></li>
                <li class="business">
                    <span >物流业务</span>
                    <div class="business-menu clearboth international-add-new">
                        <div class="menu-box box-1">
                            <span class="menu-title">国内业务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <em>时效件</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-morrow">次日达</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-onAlternateDays">隔日达</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-triduum">三日达</a>
                                </div>
                                <div class="menu_list">
                                    <em>增值业务</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-theDoorToTake">上门取件</a>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-generationOfPickup">代取件</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-freshDelivery">优鲜送</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-payOnDelivery">代收货款</a>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-freightCollectExpressItem">到付件</a>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-signTheBillToReturn">签单返还</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-supportValue">保价</a>

                                </div>
                                <div class="menu_list">
                                    <em>数字产品</em>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-electronicsSurfaceSingle">电子面单</a>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-privacySurfaceSingle">隐私面单</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-cloudPrint">云打印</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-enterpriseOrder">企业下单
                                        <!-- <i>hot</i> -->
                                    </a>
                                    <a href="javascript:void(0)" class="menu-item js-business-recheneinheit">统一结算
                                        <!-- <i>hot</i> -->
                                    </a>
                                    <a href="javascript:void(0)" class="menu-item js-zop" target="_blank"
                                       id="nav_zop">开放平台</a>
                                    <a href="javascript:void(0)" class="menu-item js-zpa" target="_blank"
                                       id="nav_zpa">快递管家</a>

                                </div>
                                <div class="menu_list">
                                    <em>售后宝</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-afterSalesService">售后宝</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-2">
                            <span class="menu-title">国际&台港澳业务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <em>港台件</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-hongkong">香港专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-taiwan">台湾专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-hongkongDhl">香港DHL</a>
                                </div>
                                <div class="menu_list">
                                    <em>国际件</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-ztoEms">中通-EMS</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-international">国际e通宝</a>
                                    <!--<a href="javascript:void(0)" class="menu-item js-business-australia">新澳宝</a>-->
                                    <a href="javascript:void(0)" class="menu-item js-business-england">中英专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-russian">俄罗斯专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-korea">韩国专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-japan">日本专线</a>
                                    <!--<a href="javascript:void(0)" class="menu-item js-business-india">印度专线</a>-->
                                    <a href="javascript:void(0)" class="menu-item js-business-americaSmall">美洲专线小包</a>
                                    <!--
                                    <a href="javascript:void(0)" class="menu-item js-business-switzerlandOne">瑞邮宝</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-switzerlandTwo">瑞邮派</a>
                                     -->
                                </div>
                                <div class="menu_list menu_list_fba">
                                    <em>&nbsp;&nbsp;</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-russia">FBA空运包税</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-americaFba">FBA-美洲专线</a>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-australiaFba">FBA-澳大利亚专线</a>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-canadaFba">FBA-加拿大专线(普货)</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-europeFba">FBA-欧洲专线</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-ctamSmall">CTAM小包</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-depx">Toll Global
                                        Express(DPEX)</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-3">
                            <span class="menu-title">仓储业务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <em>仓储业务</em>
                                    <a href="javascript:void(0)" class="menu-item js-business-cloudChamber">关于云仓</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-serviceProducts">产品服务</a>
                                    <a href="javascript:void(0)" class="menu-item js-business-serviceScope">服务范围</a>
                                    <a href="javascript:void(0)"
                                       class="menu-item js-business-cooperativePartner">合作伙伴</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-4">
                            <span class="menu-title">冷链业务</span>
                        </div>
                    </div>
                </li>
                <li>
                    <span  class="active-nav" >客户服务</span>
                    <div class="business-menu clearboth">
<!--                        <div class="menu-box box-12">-->
<!--                            <span class="menu-title">寄件服务</span>-->
<!--                            <div class="menu-room clearboth"></div>-->
<!--                        </div>-->
                        <div class="menu-box box-12">
                            <span class="menu-title">查询服务</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list long_one">
                                    <a href="javascript:void(0)" class="menu-item js-express-check">查件（物流追踪）</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-website">服务网点查询</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-price">运费时效查询</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-prohibited">违禁品查询</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-box box-13">
                            <span class="menu-title">客户支持</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list long_one">
                                    <!--<a href="javascript:void(0)" class="menu-item js-express-complain">客户投诉电话</a>-->
                                    <a href="javascript:void(0)" class="menu-item js-express-questions">常见问题</a>
                                    <a href="javascript:void(0)" class="menu-item js-express-suggest">投诉建议</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span >加盟合作</span>
                    <div class="business-menu clearboth">
                        <div class="menu-box box-6">
                            <span class="menu-title">加盟合作</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <a href="javascript:void(0)" class="menu-item js-express-outlets">加盟快递网点</a>
                                    <a href="javascript:void(0)" class="menu-item js-cooperate">商家合作</a>
                                    <a href="javascript:void(0)" class="menu-item js-supplier">供应商合作</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><span
                        class="js-finance" >金融</span></li>
                <li>
                    <span  class="js-goHr">招聘</span>
                    <!--                    <div class="business-menu clearboth">-->
                    <!--                        <div class="menu-box box-9">-->
                    <!--                            <span class="menu-title">招聘</span>-->
                    <!--                            <div class="menu-room clearboth">-->
                    <!--                                <div class="menu_list">-->
                    <!--                                    <a href="http://hr.zto.com/index.html" class="menu-item" target="_blank">投递简历</a>-->
                    <!--                                    <a href="http://hr.zto.com/social/index.html" class="menu-item"-->
                    <!--                                        target="_blank">社会招聘</a>-->
                    <!--                                    <a href="http://hr.zto.com/school/index.html" class="menu-item"-->
                    <!--                                        target="_blank">校园招聘</a>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </li>
                <li>
                    <span >关于中通</span>
                    <div class="business-menu clearboth">
                        <div class="menu-box box-7">
                            <span class="menu-title">关于中通</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list long_one">
                                    <em>企业介绍</em>
                                    <a href="javascript:void(0)" class="menu-item js-company-profile">企业概述</a>
                                    <a href="javascript:void(0)" class="menu-item js-corporate-development">中通大事记</a>
                                    <a href="javascript:void(0)" class="menu-item js-leadership-concern">领导关怀</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>企业文化</em>
                                    <a href="javascript:void(0)" class="menu-item js-corporate-culture">文化理念</a>
                                    <a href="javascript:void(0)" class="menu-item js-one-day">中通人的一天</a>
                                    <a href="javascript:void(0)" class="menu-item js-innovation">双创中通人</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>企业展示</em>
                                    <a href="javascript:void(0)" class="menu-item js-enterprise-video">企业视频</a>
                                    <a href="javascript:void(0)" class="menu-item js-responsibility-honor">责任荣誉</a>
                                    <a href="javascript:void(0)" class="menu-item js-charity">中通公益</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>新闻动态</em>
                                    <a href="javascript:void(0)" class="menu-item js-new-list">公司动态</a>
                                    <a href="javascript:void(0)" class="menu-item js-industry-new">行业新闻</a>
                                </div>
                                <div class="menu_list long_one">
                                    <em>联系我们</em>
                                    <a href="javascript:void(0)" class="nav-item js-contact-us">联系我们</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span >INVESTORS</span>
                    <div class="business-menu clearboth">
                        <div class="menu-box box-14">
                            <span class="menu-title">INVESTORS</span>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <a href="javascript:void(0)" class="menu-item js-investor-news">投资者关系</a>
                                </div>
                            </div>
                            <div class="menu-room clearboth">
                                <div class="menu_list">
                                    <a href="http://zto.investorroom.com/" class="menu-item" target="_blank">Investor
                                        Relations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-right">

            <div class="login">
                <img src="./images/login.png" alt="登录"> 登录
            </div>
            <div class="registere">
                <img src="./images/register.png" alt="注册"> 注册
            </div>
            <div class="backold">
                <a href="https://en.zto.com/" target="_blank" title="Switch to English version">EN</a>
            </div>
            <div class="intl">
                <a href="http://g.zto.com/" target="_blank" title="Switch to intl ">intl</a>
            </div>
        </div>
    </div>
</div>

<!-- 我就是一个分隔符 -->
<div id="js-header-wrap" class="header-wrap">
    <div id="content">
        <div class="link">
            <ul>
                <li id="btn_customerService">
                    <a href="javascript:;" target="_blank" id="contactUs" class="line-server">
                        <div class="line-server-bgimg"></div>
                        <p class="link-font">
                            在线客服
                        </p>
                    </a>
                </li>
                <li id="btn_complaintsSuggestions">
                    <a href="https://my.zto.com/feedback"  class="complaint-suggestion js-express-suggest">
                        <div class="complaint-suggestion-bgimg"></div>
                        <p class="link-font">
                            投诉建议
                        </p>
                    </a>
                </li>
                <li class="js-back-top">
                    <a href="javaScript:void(0)" class="back-top">
                        <div class="back-top-bgimg"></div>
                        <p class="link-font">
                            返回顶部
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="banner">
    <div class="banner_box">
        <img src="./images/express_banner.jpg" />
    </div>
</div>
<div id="content">
    <div class="content-main">
        <div class="nav-zto js-nav-fixed">
            <div class="nav-zto-bgimg"></div>
            <div class="nav-zto-room">
                <h1>客户服务</h1>
                <ul>
                    <li>
                        <div class="nav-zto-font">
                  <span class="nav-item js-express-ship"
                  >寄件服务
                    <i></i>
                  </span>
                        </div>
                    </li>
                    <li>
                        <div class="nav-zto-font show">
                  <span class="nav-item">查询服务
                    <i></i>
                  </span>
                            <div class="nav-zto-menu">
                                <span class="menu-item checked">查件（物流追踪）</span>
                                <span class="menu-item js-express-website">服务网点查询</span>
                                <span class="menu-item js-express-price">运费时效查询</span>
                                <span class="menu-item js-express-prohibited">违禁品查询</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-zto-font">
                  <span class="nav-item"
                  >客服支持
                    <i></i>
                  </span>
                            <div class="nav-zto-menu">
                                <!--<span class="menu-item js-express-complain">客户投诉电话</span>-->
                                <span class="menu-item js-express-questions">常见问题</span>
                                <span class="menu-item js-express-suggest">投诉建议</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <i class="jag"></i>
            </div>
        </div>
        <div class="express-cont">
            <div class="express-title-box">
                <h2 class="express-title exCheck selectedExCheck wayExpress">运单号查询</h2>
                <h2 class="express-title exCheck phoneExpress">手机号查询</h2>
            </div>

            <!-- 运单查询模块 -->
            <div class="wayExpressBox" id="wayExpressBox" @keyup.enter="selectNum" >
                <div class="search_txt">
                    <div class="inputItem">
                        <textarea
                                id="txtbill"
                                class="query_txt"
                                placeholder="输入1个或最多10个运单号（多个请用；隔开）"
                                onkeyup="this.value = this.value.replace(/[\u4e00-\u9fa5_]/g, '')"

                        ></textarea>
                    </div>
                    <div class="inputGray"></div>
                </div>
                <div class="search_box">
                    <input type="button" class="search_btn" value="查询" @click="selectNum"/>
                    <div class="record">
                        <i class="record-arrow"></i>
                    </div>
                </div>
                <div class="result-list" >
                    <div class="result-item" v-show="isShow">
                        <div class="result-top"><strong class="numbers"><em>运单号:</em><span>{{result.order_id}}</span><i
                                style="" class="sendTime"></i> </strong>
                            <p class="branch-text">快件从<em class="city">【{{result.send_address}}】</em> <span>发往 <em
                                    class="color">【{{result.receive_address}}】</em></span></p>
                            <div class="result-static static-2"><em class="static-text">{{result.orderState.state}}</em></div>


                        </div>
                        <div class="branch-list">
                            <!--<div class="branch-item first show">
                                <div class="branch-circle">最新</div>
                                <div class="branch-line"></div>
                                <span data-order="75176327474169" class="branch-contact telWebsite">联系网点</span><a
                                    href="javascript:;" class="map-link" target="_blank">切换地图</a><a href="javascript:;"
                                    onclick="jumpService(75176327474169)" class="service-link"
                                    target="_blank">在线客服</a><a href="javascript:;" class="way" target="_blank"
                                    data-code="75176327474169"></a>
                                <p class="branch-text"><em class="city">【成都市】</em> <span>快件离开 <em
                                        class="color">【成都金堂】</em> 已发往 <em class="color">武汉中转部</em></span></p>
                                <p class="branch-time">2019-09-21 19:59:27</p></div>-->
                            <div class="branch-item last show" v-for="item in result.infos">
                                <div class="branch-circle"><em></em></div>
                                <div class="branch-line"></div>
                                <p class="branch-text">
                                    <span>
                                        <em class="color">【{{item.stationName}}】</em>
                                     {{item.mode}}
                                    </span></p>
                                <p class="branch-time">{{item.time}}</p></div>
                            <span class="result-add hide"><span>收起内容</span><i></i></span></div>
                    </div>
                </div>
                <a href="https://my.zto.com/create" class="ship-again">再寄一单</a>
            </div>

            <!-- 手机号查询模块 -->
            <div class="phoneExpressBox hidden" id="phoneExpressBox" @keyup.enter="selectOrdersTel">
                <div class="inputBox">
                    <span>手机号：</span>
                    <input type="text" class="phoneInput" placeholder="请输入手机号" />
                </div>
                <!--<div class="inputBox">
                    <div>
                        <span>图形验证码：</span>
                        <input type="text" class="picValidateCode" id="picValidateCode" placeholder="请输入图形验证码" />
                        <img src="" class="picValidate" id="picValidate" />
                    </div>
                </div>
                <div class="inputBox">
                    <div>
                        <span>验证码：</span>
                        <input type="text" class="validateInput" placeholder="请输入验证码" />
                    </div>
                    <input type="button" class="validateInputBtn" value="获取验证码" />
                </div>-->
                <input type="button" id="phoneSearchBtn" class="submitLogin" value="查询" @click="selectOrdersTel" />
                <div><em style="color: #34a2f7;line-height: 22px">需该手机号接受的快件</em></div>
                <div class="result-list" v-for="result in orders.orderReceive" ><!--v-for="result in results"-->
                    <div class="result-item" v-show="isShow1">
                        <div class="result-top"><strong class="numbers"><em>运单号:</em><span>{{result.order_id}}</span><i
                                style="" class="sendTime"></i> </strong>
                            <p class="branch-text">快件从<em class="city">【{{result.send_address}}】</em> <span>发往 <em
                                    class="color">【{{result.receive_address}}】</em></span></p>
                            <div class="result-static static-2"><em class="static-text">{{result.orderState.state}}</em></div>
                        </div>
                        <div class="branch-list">
                            <div class="branch-item last show" v-for="item in result.infos">
                                <div class="branch-circle"><em></em></div>
                                <div class="branch-line"></div>
                                <p class="branch-text">
                                    <span>
                                        <em class="color">【{{item.stationName}}】</em>
                                     {{item.mode}}
                                    </span></p>
                                <p class="branch-time">{{item.time}}</p></div>
                            <span class="result-add hide"><span>收起内容</span><i></i></span></div>
                    </div>
                </div>
                <div><em style="color: #34a2f7;line-height: 22px">以该手机号寄出的快件</em></div>
                <div class="result-list" v-for="result in orders.orderSend"><!--v-for="result in results"-->
                    <div class="result-item" v-show="isShow2">
                        <div class="result-top"><strong class="numbers"><em>运单号:</em><span>{{result.order_id}}</span><i
                                style="" class="sendTime"></i> </strong>
                            <p class="branch-text">快件从<em class="city">【{{result.send_address}}】</em> <span>发往 <em
                                    class="color">【{{result.receive_address}}】</em></span></p>
                            <div class="result-static static-2"><em class="static-text">{{result.orderState.state}}</em></div>
                        </div>
                        <div class="branch-list">
                            <div class="branch-item last show" v-for="item in result.infos">
                                <div class="branch-circle"><em></em></div>
                                <div class="branch-line"></div>
                                <p class="branch-text">
                                    <span>
                                        <em class="color">【{{item.stationName}}】</em>
                                     {{item.mode}}
                                    </span></p>
                                <p class="branch-time">{{item.time}}</p></div>
                            <span class="result-add hide"><span>收起内容</span><i></i></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="./js/bundle.js"></script>
<script src="./js/jquery.validate.min.js"></script>
<script src="./js/public.js"></script>
<script src="./js/expressCheck.js"></script>
<script src="./js/JsBarcode.js"></script>


<script>
    new Vue({
        el:"#wayExpressBox",
        data:{
            isShow:false,
            result:{
                send_user:{},
                receive_user:{},
                orderState:{},
                infos:[]
            }
        },
        methods:{
            selectNum:function () {
                //获取文本框值
                var _this=this;
                var value = $("#txtbill").val();
                axios.get("selectOrderNum?num="+value).then(
                    function (response){
                        _this.result=response.data;
                        console.log(response.data);
                        _this.isShow=true;
                    }
                ).catch(function (error) {
                    alert("订单号错误"+
                    error);
                });

            }
        }
    });
    new Vue({
        el:"#phoneExpressBox",
        data:{
            isShow1:false,
            isShow2:false,
            orders:{
                orderSend:[
                    {
                        send_user: {},
                        receive_user: {},
                        orderState: {},
                        infos: []
                    }
                    ],
                orderReceive:[
                    {
                        send_user: {},
                        receive_user: {},
                        orderState: {},
                        infos: []
                    }
                ]
            },
        },
        methods:{
            selectOrdersTel:function () {
                var _this=this;
                var tel = $(".phoneInput").val();
                axios.get("selectOrdersTel?tel="+tel).then(
                    function (value) {
                        _this.orders=value.data;

                        if (_this.orders.orderReceive.length>0){
                            _this.isShow1=true;
                        }

                        if (_this.orders.orderSend.length>0){
                            _this.isShow2=true;
                        }

                        console.log(_this.orders);
                    }
                ).catch();
            }
        }
    });

    ztoAlert("提示", "图形验证码不能为空", "确定", "close");
</script>
</body>
</html>
